@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
   padding: 0;
   background-color: #FFC6D3;
   font-family: 'Andika', sans-serif;
   height: 40vh;
}
body p {
   text-align: center;
   font-size: small;
}

body h1, body h2 {
   color: #FB2576;
}

.title-love {
font-family: 'Pacifico', cursive;
text-align: center;
font-size: 35px;
margin: 40px auto 0;
}

@media screen and (max-width: 37px) {
   .title-love {
      font-size: 20px;
   }
}